// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20;

$shadow-key-umbra-opacity: rgba(#43a047, 0.2);
$shadow-key-penumbra-opacity: rgba(#43a047, 0.14);
$shadow-key-ambient-opacity: rgba(#43a047, 0.12);
